@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --cor0: #ffffff;
    --cor1: #01204C;
    --cor2: #1541C0;
    --cor3: #333333;
    --cor4: #FC3D21;
}

body{
    font-size: 100%;
    background-color:var(--cor1);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px; /*Gap distância entre os items do menu */
}

.cabecalho-menu--item{
    font-family: 'Titillium Web', sans-serif;
    color: var(--cor0);
    font-weight: 600; /*Força do negrito */
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.2px solid var(--cor2);
}

.conteudo-principal{
    display: Flex; /*Iniciar utilização do flex-box */
    flex-direction: row; /* Row= Horizontalmente column= um abaixo do outro */
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.conteudo-principal-escrito--titulo {
    font-family:'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 64px;
    max-width: 600px;
    color: var(--cor4);
}

.conteudo-principal-escrito--paragrafo{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    text-align: justify;
    font-size: 24px;
    color: var(--cor0);
    max-width: 600px;
}

.conteudo-principal-butao{
    display: flex;
    align-items:center;
    flex-direction:column;
}

.conteudo-principal-escrito--butao{
    background-color: #1541C0;
    width: 180px;
    height: 32px;
    border-radius: 5px;
    color:var(--cor0);
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
} 

.conteudo-principal-escrito-butao-link{
    color:var(--cor0);
}

.conteudo-principal-escrito--butao:hover {
}

.conteudo-principal--imagem{
    padding: 32px;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor1);
    padding: 4px;
    border-top: 0.4px solid var(--cor2);

}

#footer-list--links{
    display: flex;
    gap: 32px;
}

.footer-list-links--items{
    font-family: Titillium web, sans-serif;
    font-weight: 500;
    color: var(--cor4);

}

.footer-information{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 32px;
    color: var(--cor4);
}